<%- include("./partials/header.ejs") %>

<div class="columns is-flex is-justify-content-center mt-5">
  <div class="column is-one-third">
    <article class="message is-danger">
      <div class="message-header">
        <p>Error</p>
      </div>
      <div class="message-body">Sorry, we couldn't find that page.</div>
    </article>
  </div>
</div>

<%- include("./partials/footer.ejs") %>
