body {
  background-color: black;
  color: white;
}

h1,
h2 {
  color: white;
}

.small-img {
  max-width: 200px;
}

form {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-group {
  display: flex;
  justify-content: space-between;
}
