@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

/* body {
  margin: 0;
} */

/* h1,
h2 {
  color: white;
}

nav ul {
  display: flex;
  background-color: limegreen;
  margin: 0;
  list-style-type: none;
  padding: 10px 20px;
  gap: 10px;
}

.small-img {
  max-width: 200px;
}

form {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-group {
  display: flex;
  justify-content: space-between;
}

.comic-search-result {
  border: 1px solid red;
} */
