<%- include("../partials/header.ejs") %>

<h2>Sign in!</h2>

<% if (infoMessage) { %>

<p><%= infoMessage %></p>

<% } %>

<div class="columns">
  <div class="column is-one-quarter mx-auto">
    <form method="POST" action="/users/login" class="box is-flex is-flex-direction-column">
      <div class="field">
        <label for="username" class="label">Username</label>
        <div class="control">
          <input class="input" type="username" name="username" id="username" required />
        </div>
      </div>

      <div class="field">
        <label for="password" class="label">Password</label>
        <div class="control">
          <input class="input" type="password" name="password" id="password" required />
        </div>
      </div>

      <button type="submit" class="button is-primary"><strong>Sign in</strong></button>
    </form>
  </div>
</div>

<%- include("../partials/footer.ejs") %>
