<%- include("../../partials/header.ejs") %>

<h2>Seach for series!</h2>

<form method="GET" action="/search/series/results">
  <label for="series">Search for Marvel series:</label>
  <input type="text" name="series" id="series" required />

  <button type="submit">Search!</button>
</form>

<%- include("../../partials/footer.ejs") %>
